APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[ALIPAY]APP_ID =MERCHANT_PRIVATE_KEY =NOTIFY_URL =RETURN_URL =CHARSET = UTF-8SIGN_TYPE = RSA2GATEWAY_URL =ALIPAY_PUBLIC_KEY =